<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="md-3 text-center">Create Employee</h3>

      <div class="form-group">
        <input type="text" [(ngModel)]="employeeDetails.name" class="form-control" placeholder="Name">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="employeeDetails.email" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="employeeDetails.phone" class="form-control" placeholder="Phone">
      </div>

      <div class="form-group">
       <button type="submit" class="btn btn-success btn-lg btn-block" (click)="add()">Add</button>
      </div>

    </div>
  </div>
</div>